/*
 * color pallette
 */
.main-color-scheme {
  --empty-bg-color: #fffdf9;
  --box-bg-color: #b4aaff;
  --box-text-color: #f9227d;
}

/*
 * color application
 */
.content-area {
  background: var(--empty-bg-color);
}

/* .section {
  background: var(--section-bg-color);
  color: var(--section-text-color);
} */

.section .box {
  background: var(--box-bg-color);
  color: var(--box-text-color);
}

/*
 * layout
 */
body.content-area {
  margin: 0;
  padding: 0;
}
.content-area {
  height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section .box {
  height: 200px;
  width: 200px;
  padding: 1%;
}

.section .box .title {
  height: 20%;
}

.section .box div {
  height: 80%;
}